body {
   font-family: 'Arial', sans-serif;
   margin: 0;
   padding: 0;
}

header {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 1em 0;
}

nav ul {
   list-style: none;
   padding: 0;
}

nav ul li {
   display: inline;
   margin-right: 15px;
}

nav a {
   text-decoration: none;
   color: #fff;
}

section {
   padding: 20px;
   line-height: 1.6;
}

ul {
   list-style-type: none;
   padding: 0;
}

li {
   margin-bottom: 10px;
}

footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 1em 0;
   position: absolute;
   bottom: 0;
   width: 100%;
}

img {
   width: 800px;
}